body {
    background: linear-gradient(141deg, #9fb8ad 0%, #a4c8cc 51%, #154b5f 75%);
    font-family: Noto Sans, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 1px;
    padding: 10px;
    min-height: 100vh;
  }
